body
{
  margin: 0;
  padding: 0;
  height: 100vh;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}
#particles-js
{
  height: 100%;
  background: absolute;
  background: #FF6;
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: 50% 50%;
}
#particles-js-canvas-el
{
  display: flex;
  background: absolute;
  background-size: cover; 
  background-repeat: no-repeat; 
}
h6
 {
  margin: 0px;
  padding: 0px;
  background: absolute;
  position: absolute;
  font-size: 3em;
  font-family: 'Finger Paint', cursive;
 }
.message
{
  width: 800px;
  margin: 0px;
  padding: 0px;
  background: absolute;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  display: flex;
  
}
.lab
{
  width: 800px;
  margin: 0px;
  padding: 0px;
  background: absolute;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  display: flex;
}


.refs
{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.labs
{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
ul.refs li {
  width: 75px;
  height: 75px;
  list-style-type: none;
  margin: 0 10px;
  text-align: center;
  border-radius: 50%;
  border: 5px solid #000;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin: 0 10px;
  padding-inline-start: 0px;
  float: left;
}
ul.labs img{
  width: 75px;
  height: 75px;
  list-style-type: none;
  margin: 0 10px;
  text-align: center;
  border: 3px solid #000;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin: 0 10px;
  padding-inline-start: 0px;
  float: left;
}

ul.refs li .fa {
  color: #000;
  margin-top: 20px;
  transition: all 0.5s ease;
}
ul.labs img .fa {
  color: #000;
  margin-top: 20px;
  transition: all 0.5s ease;
}
  
ul li:hover.steam {
  border: 5px solid #101111;
  box-shadow: 0 0 15px #101111;
  transition: all 0.5s ease;
}
  
ul li:hover .fa-steam {
  color: #101111;
  text-shadow: 0 0 15px #101111;
  transition: all 0.5s ease;
}
  
ul li:hover.vk {
  border: 5px solid #076aff;
  box-shadow: 0 0 15px #076aff;
  transition: all 0.5s ease;
}
  
ul li:hover .fa-vk {
  color: #076aff;
  text-shadow: 0 0 15px #076aff;
  transition: all 0.5s ease;
}
  
ul li:hover.twitch {
  border: 5px solid #9505b9;
  box-shadow: 0 0 15px #9505b9;
  transition: all 0.5s ease;
} 
  
ul li:hover .fa-twitch {
  color: #9505b9;
  text-shadow: 0 0 15px #9505b9;
  transition: all 0.5s ease;
}
  
ul li:hover.github {
  border: 5px solid #252222;
  box-shadow: 0 0 15px #252222;
  transition: all 0.5s ease;
}
  
ul li:hover .fa-github {
  color: #252222;
  text-shadow: 0 0 15px #252222;
  transition: all 0.5s ease;
}
  
ul li:hover.telegram {
  border: 5px solid #34ced3;
  box-shadow: 0 0 15px #34ced3;
  transition: all 0.5s ease;
}
  
ul li:hover .fa-telegram {
  color: #34ced3;
  text-shadow: 0 0 15px #34ced3;
  transition: all 0.5s ease;
}
ul.labs img:hover.math {
  border: 3px solid #e2e4e7;
  box-shadow: 0 0 15px #e2e4e7;
  transition: all 0.5s ease;
}
  
ul.labs img:hover img.math {
  color: #e2e4e7;
  text-shadow: 0 0 15px #e2e4e7;
  transition: all 0.5s ease;
}
  
ul.labs img:hover.clock {
  border: 3px  solid #e2e4e7;
  box-shadow: 0 0 15px #e2e4e7;
  transition: all 0.5s ease;
}
  
ul.labs img:hover img.clock {
  color: #e2e4e7;
  text-shadow: 0 0 15px #e2e4e7;
  transition: all 0.5s ease;
}
  
ul.labs img:hover.dino {
  border: 3px  solid #e2e4e7;
  box-shadow: 0 0 15px #e2e4e7;
  transition: all 0.5s ease;
} 
  
ul.labs img:hover img.dino {
  color: #e2e4e7;
  text-shadow: 0 0 15px #e2e4e7;
  transition: all 0.5s ease;
}
  
ul.labs img:hover.pacman {
  border: 3px  solid #e2e4e7;
  box-shadow: 0 0 15px #e2e4e7;
  transition: all 0.5s ease;
}
  
ul.labs img:hover img.pacman {
  color: #e2e4e7;
  text-shadow: 0 0 15px #e2e4e7;
  transition: all 0.5s ease;
}
  
ul.labs img:hover.tictac {
  border: 3px  solid #e2e4e7;
  box-shadow: 0 0 15px #e2e4e7;
  transition: all 0.5s ease;
}
  
ul.labs img:hover img.tictac {
  color: #e2e4e7;
  text-shadow: 0 0 15px #e2e4e7;
  transition: all 0.5s ease;
}